* {
    box-sizing: border-box;
}
body{
    -moz-box-align: center;
}
.s1{
    color:rgb(39, 3, 3);
    background-color: gray;
    width:29.5%;
    height:300px;
    margin-left:1.9166666667%;
    margin-right:1.9166666667% ;
    padding: 5px;
    border: 5px solid brown ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    float:left;
}
.s2{
    color:rgb(39, 3, 3);
    background-color: gray;
    width:29.5%;
    height:300px;
    margin-left:1.9166666667%;
    margin-right:1.9166666667% ;
    padding : 5px;
    border: 5px solid brown ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    float:left;
}
.s3{
    color:rgb(39, 3, 3);
    background-color: gray;
    width:29.5%;
    height:300px;
    margin-left:1.9166666667%;
    margin-right:1.9166666667% ;
    padding : 5px;
    border: 5px solid brown ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    float:left;
}
h2{
    color:brown;
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
@media(max-width:991px){
    .s1{
        color:rgb(39, 3, 3);
        background-color: gray;
        width:45%;
        height:300px;
        margin-left:2.5%;
        margin-right:2.5% ;
        padding: 5px;
        border: 5px solid brown ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        float:left;
    }
    .s2{
        color:rgb(39, 3, 3);
        background-color: gray;
        width:45%;
        height:300px;
        margin-left:2.5%;
        margin-right:2.5% ;
        padding : 5px;
        border: 5px solid brown ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        float:left;
      
    }
    .s3{
        color:rgb(39, 3, 3);
        background-color: gray;
        width:90%;
        height:300px;
        margin-left:5%;
        margin-right:5% ;
        margin-top : 10px;
        padding : 5px;
        border: 5px solid brown ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        float:left;
    }
}
@media(max-width:767px){
    .s1{
        color:rgb(39, 3, 3);
        background-color: gray;
        width:90%;
        height:300px;
        margin : 5%;
        padding : 5px;
        border: 5px solid brown ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        float:left;
    }
    .s2{
        color:rgb(39, 3, 3);
        background-color: gray;
        width:90%;
        height:300px;
        margin : 5%;
        padding : 5px;
        border: 5px solid brown ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        float:left;
    }
    .s3{
        color:rgb(39, 3, 3);
        background-color: gray;
        width:90%;
        height:300px;
        margin : 5%;
        padding : 5px;
        border: 5px solid brown ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        float:left;
    }
    
}
